<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
   <div class="main">
    <div class="container-fluid">
        <div class="et_pb_section  et_pb_section_8 et_section_regular">
                    
                    
                    
          <div class=" et_pb_row et_pb_row_9">
        <div class="et_pb_column et_pb_column_4_4  et_pb_column_24 et-last-child">
        
        
        <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_9">
        
        
        <div class="et_pb_text_inner">
          Who We Are And What We Do.
        </div>
      </div>
      <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_10">
        
        
        <div class="et_pb_text_inner">
          <h2>Message from Director.</h2>
        </div>
      </div> <!-- .et_pb_text -->
      </div> <!-- .et_pb_column -->
      </div> 
        
        </div>
    </div>
   </div> 
   <div class="ceo">
    <div class="ceo-img">
      <img src="../../assets/images/home-photo-1.jpg" alt="mashombo-picture" style="width:400px;height: 200px;"><h2>MLAU .A. MASHOMBO</h2><span>Managing Director</span></div>
   </div>
   <div class="content">Since our incorporation in <strong>2009</strong>,we always strive to provide quality work in 
    every job whether large or small .Our staff take great pride in staying abreast of new technology and trends .We 
    rely on vendors to present new labour saving and energy efficient products, we educate our installers ,and we 
    attend trade shows on new technology both locally and nationally. By staying knowledgeable of the change and 
    innovations in our industry, we are better able to provide quality and efficient work for our customers.
    <br>
    <br>
    <p>We have the resources to bring your pojects out of the ground or renovate your existing facilite.
      We have a staff of liecensed electricians with multiple years of experience ready to help bring 
      your design to reality.We have successfully completeds lots of square feet of <strong>electrical construction</strong>
      as well as <strong>AC installations</strong>,also <strong>solar installation</strong>,<strong>ICT & security systems</strong>,
      <strong>Fire&preventation sytems,and 
      Telecommunication installation.</strong> understand the need to build a cost effective project that not only 
      works at the time ,but for years to come.We take pride in our repeat customers.Our work ethics and commitment
      to quality,allows us to work for some of the most established General Contractors and owners in Tanzania
      .Whatever your needs are,I am positive we can help .
      <br>
      <span><strong>Your support is very important to us!</strong></span>

    </p>

  </div>
  <div class="mission">
    <div class="row">
      <div class="col-sm">
        <div class="un">
        <div class="vision"><h1>------------------------------OUR VISION--------------------</h1></div>
        <div class="content2"><strong>Our vision is to be  a class 1 Electrical Contractors in five
          years time, and the number 1 choice specialist Contractors,with a wide national footprint 
          We invite you to work with us and be part of our journey to the top.Our commitment to always 
          put the need of our customers first means that with us,"satisfaction is guaranteed"
        </strong>
        </div>
      </div>
      </div>
      <div class="col-sm">
        <div class="mission1"><h1>---------------------------OUR MISSION--------------------</h1></div>
        <div class="content2"><strong>To be  the prominent provider of exceptional HVAC and Electrical 
          Services throughout Tanzania by establishing  long-term,mutually rewarding relationships with
          each of our valued customers by consistently exceeding their expectations and gaining their 
          trust through the exemplary and dedicated perfomance by every member of our dedicated team
        </strong>
    </div>
    </div>
    </div>
  </div>
  <br>
  <div class="container-fluid" style="border-color: #ffffff;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);height: 100px;">
    <div class="row" >
      <div class="col-sm-3"><i class="material-icons" style="font-size:55px;color:#c1c1df;opacity: 1;">build</i>
      <h1 class="E1">EMERGENCE RAPAIRS</h1>
      <h4 class="E2">Quick to react to keep you powered<br>and safe, with no call out charges</h4>
    </div>
      <div class="col-sm-3"><i class="material-icons" style="font-size:60px;color:rgba(193,192,222,0.5);">edit</i>
        <h1 class="E1"> FREE  QUOTATIONS   </h1>
      <h4 class="E2">Honest advice and free quotes from <br>trusted, experienced electricians </h4>
      </div>
      <div class="col-sm-3"><i class="material-icons" style="font-size:55px;color:#c1c1df">dashboard</i>
        <h1 class="E1">ANY JOB ANY SIZE</h1>
        <h4 class="E2">Whatever your requirment from testing<br>to full design and installation
        </h4>
      </div>
      <div class="col-sm-3"><i class="material-icons" style="font-size:60px;color:#c1c1df">star_border</i>
        <h1 class="E1">GUARANTEED WORK</h1>
        <h4 class="E2">Fully guaranteed electrical works<br>to IEE Wiring Regulation standards </h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
   <div class="col-sm">
    <div class="mission1"><h1>--------------------------------QUALITY--------------------------</h1></div>
        <div class="content2">
          <strong>At our Company,quality is everyone's job,and ranks second only 
          to safety in terms of priority. The technology that drives our trade is ever changing, and 
          staying aheaad of the rapidly changing technology curve is crucial to our success.
          We build un paraleled quality into every aaspect of our work beacuse we know that our clients
          demand it and will settle for nothing less. We are totally committed to,and fully engaged 
          int the practice of continous improvements, and have worked-extensively in many "Six
          Sigma enviroment" 
          <br>
          <br>
          The  consistent delivery of un-compromising  quality in everything that we do, is truly our
          trademark, and  allows  us to unconditionally guarantee our client's total satisfaction on 
          every  single job regardless of the size and scope. Our goal is to consistently exceed 
          the expectationsof each of our clients in regards to Quality of work, Craftsmanship, and Value.
          </strong>
        </div><br><br>
      <div class="mission1"><h1>--------------------------HEALTH & SAFETY --------------------</h1></div>
      <div class="content2">
        <strong>
          MR.Electrical Co Ltd understands the
       importance of safety in the workplace, and
       on-the-job. Providing a drug-free, healthy,
        safe and hazard free work environment, as
       well as an on-going company sponsored
       Safety Program is our number one Priority.
        We employ the services of an expert
       Safety Inspector /Trainer / Coordinator
       regularly and provide O.S.H.A compliant,
       training for both new and veteran
       employees. The Safety Inspector also
       coordinates
       routine
       safety
        and
        equipment inspections at all of our job
        sites, and holds weekly safety meetings.
        <br><br>
        Each of our work sites is equipped with
        Emergency First Aid supplies as well as
        Personal Protective Equipment (PPE), and
        every member of our field personnel team
        is trained in First Aid and Adult CPR
        <br>
        <br>
        We constantly evaluate and implement
new programs and training strategies in an
effort to reach our ultimate goal of totally
eliminating occupational injuries. We
believe that this goal is realistic and
achiev- able. Since our incorporationwe
have maintained a phenomenal record
having no on-job accidents.
        </strong>
      </div>           
   </div>
   <div class="col-sm">
    <div class="un1">
      We know how to "to get it done right " the first time eliminating costly "re-work" and schedule
      "set-backs". Our proffesional experience enables us to deliver any project or job task on schedule
      while meeting our client's budget parameters.
      <br>
      <br>
      “Quality will be prized as
      a precious possession”,
      MR Electrical, we could
      not agree more.
     <br>
     <br>
     <br>
     Our ultimate goal of
     totally eliminating
     occupational injuries.
     <div class="picture"><img src="../../assets/images/solar-electrical-contractors-600x315h.jpg" ></div>
    </div>
   </div>    
  </div>
  <div class="container-fluid">
    <div class="et_pb_section  et_pb_section_8 et_section_regular">
				
				
				
      <div class=" et_pb_row et_pb_row_9">
    <div class="et_pb_column et_pb_column_4_4  et_pb_column_24 et-last-child">
    
    
    <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_9">
    
    
    <div class="et_pb_text_inner">
      Why Choose MR.Electrical.?
    </div>
  </div>
  <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_10">
    
    
    <div class="et_pb_text_inner">
      <h2>What makes us a preferred contractors</h2>
    </div>
  </div> <!-- .et_pb_text -->
  </div> <!-- .et_pb_column -->
  </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
     <div class="col-sm-3">
     <ul>
      <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Industry Experts</h1></div></li>
      <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p4"><h1>Highily Qualified</h1></div></li>
      <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p6"><h1>Professional Teams</h1></div></li>
     </ul>
     </div>
     <div class="col-sm-3">
      <ul>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Deliver on Time</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p4"><h1>Work to Budget</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p7"><h1>All specialism</h1></div></li>
       </ul>
     </div>
      <div class="col-sm-3"><ul>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Qulity Assurance</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p4"><h1>client Satisfication</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p7"><h1>problem solvers</h1></div></li>
       </ul>
      </div>
      <div class="col-sm-3"><ul>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Guaranteed work</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p5"><h1>Any Sector</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p7"><h1>Recommended</h1></div></li>
       </ul>
      </div>
    </div>  
  </div>
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="et_pb_section  et_pb_section_8 et_section_regular">
          
          
          
        <div class=" et_pb_row et_pb_row_9">
      <div class="et_pb_column et_pb_column_4_4  et_pb_column_24 et-last-child">
    
      
      <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_9">
      
      
      <div class="et_pb_text_inner">
        Our  Contract Clients
      </div>
    </div> <!-- .et_pb_text --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_10">
      
      
      <div class="et_pb_text_inner">
        <h2>Just a few of the poeple we work with</h2>
      </div>
    </div> <!-- .et_pb_text -->
    </div> <!-- .et_pb_column -->
    </div> 
    </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"><img src="../../assets/images/TRA.png" class="img-thumbnail" ></div>
      <div class="col-sm-2"><img src="../../assets/images/taa-tanzania-airports-authority.jpg" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/Logo-crdb-bank-tanzania-clipart-PNG.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/NMBLogo1.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/oryx-energies-vector-logo.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/large-1563370578-tmda_logo_transparent_bk.png" class="img-thumbnail"></div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"><img src="../../assets/images/bugando.jpeg" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/institution_logo-1.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/immigration.jpeg" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/necta_logo-01.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/BOT.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/fire.png" class="img-thumbnail"></div>
    </div>
  </div>
  <br>
  <br>
  <div class="container-fuid">
    <div class="row">
      <div class="col-sm-3">
        <h1>MORE INFORMATION?</h1>
      </div>
      <div class="col-sm-3"><img src="../../assets/images/location-icon-location-icon-png-blue.jpeg" style="width:70px;height:70px;">
       <h4 class="g1">MR.ELECTRICAL LTD</h4>
       <p class="p1"><span> P.O.Box 10233, Dar-es-salaam</span></p>
       <p class="j1"><span> Plot 1178, Kangaroo street</span></p>
       <p class="j2"><span> Mikocheni B.</span></p>
       <br>
       <br>
       <br>
       <div><i class="material-icons" style="font-size:48px;color:rgb(20, 233, 20)">call</i></div>
       <h4 class="t1">TELEPHONE</h4>
       <p class="j3"><span>+255 715 030 392</span></p>
       <p class="j4"><span>+255 655 088 466</span></p>
       <p class="j5"><span>+255 746 245 571</span></p>
      </div>
      <div class="col-sm-3">
        <div class="g2"><i class="material-icons" style="font-size:48px;color:#3e0184; ">error</i></div>
        <h4 class="t2">SERVICE INFORMATION</h4>
        <div class="t3">
          <p><strong>Electrical contractor</strong><br><strong>Fire&Preventatin System contractor</strong><br><strong>Air Conditioning contractor</strong><br><strong>Plumbing & Sanitations</strong><br><strong>ICT & Security systems</strong><br><strong>Renewable Energy Installation(solar)</strong><br><strong>Elevetor & Escalators Contractor</strong><br> Electrical Repairs<br><strong>Telecommunication Contractor</strong><br><strong>Network Cabling</strong></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="logo"><img src="../../assets/images/logo.jpg" alt="" style="width: 300px;height: 270px;opacity: 10%;"></div>
      </div>
    </div>
  </div><br>
  <div class="footer"><h4>2023.All rights reserved </h4></div>
  </body>
</html>
