<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<div class="topbar" >
  <div class="menu">
      <ul>
          <li><img src="../assets/images/logo.jpg"  alt="company logo" class="logo"></li>
          <li><a routerLink="home">HOME</a></li>
          <li><a routerLink="about-us">ABOUT</a></li>
          <li><a routerLink="team">OURTEAM</a></li>
          <li><a routerLink="services">SERVICES</a></li>
          <li><a routerLink="projects">PROJECTS</a></li>
      </ul>
  </div>
  <div class="search">
      <input type="search" class="srch"  placeholder="search for services">
      <a href="#"><button class="btn">search</button></a>
  </div> 
 <router-outlet></router-outlet>
  
