<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v4.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
  <div class="slider" id="div1">
  </div>
  <br>
  <div class="head"><h1 style="text-align: center;color: blue;">  WELCOME TO MR.ELECTRICAL</h1></div>
  <div class="container-fluid p-5 my-5 bg-primary text-white">
    <p style="font-size: large;">A legally registered Company with Contractors Registration Board (CRB) in the categories of:
        Electrical Installation and Air Conditioning Works</p>
  </div>
  <div class="container-fluid " style="width: 40%;height: 10%;position:absolute;left: 70px;font-size:large;;">
    <strong>MR. Electrical Company Limited </strong>is constantly
   growing in the delivery of Electrical Services. We
   have acquired Industrial experience in all facets of
   medium to high voltage power distribution system
   Design, Construction, and Maintenance.
   With a dedicated team of “full-time”, fully qualified
   electricians, we can handle any job regardless of size
   and scope, and can safely, efficiently, and
   economically perform cable terminations, splicing,
   and testing up to 35 kV.<br><br>
   <p style="text-align: justify;">MR.Electrical company ltd is a <strong>respected electrical contractors</strong> 
    in Tanzania. We provide professional electrical contractor services to the commercial, industrial and construction sectors 
    through highly trained and fully qualified Electricians. In addition our Domestic electrical services are highly competitive 
    and highly recommended by all of our previous customers.</p>
    <p style="text-align: justify;">From humble beginnings we have built our <strong>reputation on quality and reliability</strong> 
    and are extremelly proud of the company we have grown into. From the smallest <strong>Domestic electrical jobs</strong>,
    to Industrial and Commercial cabling installations – or our &nbsp;ability to independently fulfil <strong>large scale Industrial,
    Commercial and Construction electrical contracts</strong> – we work to the highest standards and continue a perfect record 
    of delivering every project on time and within budget.&nbsp;</p>

    <p style="text-align: justify;">We are <strong>fully qualified</strong>, <strong>fully insured</strong> and <strong>N.I.C.E.I.C. registered
    </strong> with <strong>expertise across every electrical specialism</strong>. We are also <strong>Part P approved</strong> 
    for all of your domestic electrical installations and repairs as required by law for any alterations and installations. &nbsp;
    If you need Electrical Contractors in Essex, London and surrounding areas for any work requiring qualified and trusted electricians, contact us today for
    <strong>free quotations and expert advice</strong>.</p><br>
  </div>
  <div class="card">
    <div class="icon"><img src="../../assets/images/pngkey.com-tick-icon-png-2858531.png" alt="tick icon" style="width: 50px;height:80px;"></div>
    <h4 class="et_pb_module_header">QUALIFIED</h4>
    
      <em class="par">Fully certified for quality and consumer protection</em>
     
  </div><br><br><br><br><br>
  <div class="card">
    <div class="icon"><img src="../../assets/images/pngkey.com-tick-icon-png-2858531.png" alt="tick icon" style="width: 50px;height:80px;"></div>
    <h4 class="et_pb_module_header">SCALABLE</h4>
    
      <em class="par2">From installing light switches to full scale project management</em>
     
  </div><br><br><br><br>
  <div class="card">
    <div class="icon"><img class="img" src="../../assets/images/pngkey.com-tick-icon-png-2858531.png" alt="tick icon" style="width: 50px;height:80px;"></div>
    <h4 class="et_pb_module_header">EXPERIENCED</h4>
    
      <em class="par2">Years of working across all disciplines in every environment</em>
     
  </div>
  <br>
  <br><br><br><br><br>
  <div class="card">
    <div class="icon"><img src="../../assets/images/pngkey.com-tick-icon-png-2858531.png" alt="tick icon" style="width: 50px;height:80px;"></div>
    <h4 class="et_pb_module_header">RELIABLE</h4>
     
      <em class="par2">Recognised accrditations for quality and consumer protection</em>
     
  </div>
  <br><br><br>
  <div class="container-fluid">
   <div class="row">
       <div class="col-sm-3"><img src="../../assets/images/Domestic-Electrics-Essex-and-London.png" class="img">
        <div class="cl-ib-content" id="hans" style="padding:10%;"><div class="cl-ib-content-h"><h4 class="cl-ib-title" style="font-size:25px;">DOMESTIC</h4><div class="cl-ib-desc" style="font-size:15px;">Domestic electrical contractors offering full services for your home including repairs, installs and rewiring</div></div>
      </div>
      </div>
       <div class="col-sm-3"><img src="https://www.electroteck.co.uk/wp-content/uploads/2017/12/Commercial-Electrics-Essex-and-London.jpg"alt="Commercial Electrics" class="img">
        <div class="cl-ib-content" id="hans" style="padding: 10%;"><div class="cl-ib-content-h"><h4 class="cl-ib-title" style="font-size:25px;">COMMECIAL</h4><div class="cl-ib-desc" style="font-size:15px;">Commercial electrical contractors across every specialism, working with businesses of all types and sizes</div></div>
      </div>
      </div>
       <div class="col-sm-3"><img src="https://www.electroteck.co.uk/wp-content/uploads/2017/12/Insustrial-Electrics-Essex-and-London.jpg" alt="Industrial Electrics" class="img">
        <div class="cl-ib-content" id="hans" style="padding:10%;"><div class="cl-ib-content-h"><h4 class="cl-ib-title" style="font-size:25px;">INDUSTRIAL</h4><div class="cl-ib-desc" style="font-size:15px;">Qualified Industrial Electrical Contractors working to IEE Wiring Regulations at all times</div></div></div>
      </div>
       <div class="col-sm-3"><img src="https://www.electroteck.co.uk/wp-content/uploads/2018/01/Construction-Electrical-Contractors-Essex-and-London.jpg" alt="Construction Electrical Contractors Essex and London" class="img">
        <div class="cl-ib-content" id="hans" style="padding:10%;"><div class="cl-ib-content-h"><h4 class="cl-ib-title" style="font-size:25px;">CONSTRUCTION</h4><div class="cl-ib-desc" style="font-size:15px;">Construction electrical contractor working in partnerships to support and manage projects of any size</div></div></div>
       </div>
    </div> 
  </div>
  <div class="container-fluid">
    <div class="et_pb_section  et_pb_section_8 et_section_regular">
				
				
				
      <div class=" et_pb_row et_pb_row_9">
    <div class="et_pb_column et_pb_column_4_4  et_pb_column_24 et-last-child">
    
    
    <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_9">
    
    
    <div class="et_pb_text_inner">
      Why Choose MR.Electrical.?
    </div>
  </div>
  <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_10">
    
    
    <div class="et_pb_text_inner">
      <h2>What makes us a preferred contractors</h2>
    </div>
  </div> <!-- .et_pb_text -->
  </div> <!-- .et_pb_column -->
  </div> 
    
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
     <div class="col-sm-3">
     <ul>
      <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Industry Experts</h1></div></li>
      <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p4"><h1>Highily Qualified</h1></div></li>
      <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p6"><h1>Professional Teams</h1></div></li>
     </ul>
     </div>
     <div class="col-sm-3">
      <ul>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Deliver on Time</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p4"><h1>Work to Budget</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p7"><h1>All specialism</h1></div></li>
       </ul>
     </div>
      <div class="col-sm-3"><ul>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Qulity Assurance</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p4"><h1>client Satisfication</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p7"><h1>problem solvers</h1></div></li>
       </ul>
      </div>
      <div class="col-sm-3"><ul>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p3"><h1>Guaranteed work</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p5"><h1>Any Sector</h1></div></li>
        <li style="color: white;"><i class="material-icons" style="font-size:48px;color:aqua">check_circle</i><div class="p7"><h1>Recommended</h1></div></li>
       </ul>
      </div>
    </div>  
  </div>
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="et_pb_section  et_pb_section_8 et_section_regular">
          
          
          
        <div class=" et_pb_row et_pb_row_9">
      <div class="et_pb_column et_pb_column_4_4  et_pb_column_24 et-last-child">
    
      
      <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_9">
      
      
      <div class="et_pb_text_inner">
        Our  Contract Clients
      </div>
    </div> <!-- .et_pb_text --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_10">
      
      
      <div class="et_pb_text_inner">
        <h2>Just a few of the poeple we work with</h2>
      </div>
    </div> <!-- .et_pb_text -->
    </div> <!-- .et_pb_column -->
    </div> 
    </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"><img src="../../assets/images/TRA.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/taa-tanzania-airports-authority.jpg" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/Logo-crdb-bank-tanzania-clipart-PNG.png"class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/NMBLogo1.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/oryx-energies-vector-logo.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/large-1563370578-tmda_logo_transparent_bk.png" class="img-thumbnail"></div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"><img src="../../assets/images/bugando.jpeg" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/institution_logo-1.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/immigration.jpeg" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/necta_logo-01.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/BOT.png" class="img-thumbnail"></div>
      <div class="col-sm-2"><img src="../../assets/images/fire.png" class="img-thumbnail"></div>
    </div>
  </div>
  <br>
  <br>
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="et_pb_section  et_pb_section_8 et_section_regular">
          
          
          
        <div class=" et_pb_row et_pb_row_9">
      <div class="et_pb_column et_pb_column_4_4  et_pb_column_24 et-last-child">
    
      
      <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_9">
      
      
      <div class="et_pb_text_inner">
        GET IN TOUCH WITH US 
      </div>
    </div> <!-- .et_pb_text --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_10">
      
      
      <div class="et_pb_text_inner">
        <h2>Just a few of the poeple we work with</h2>
      </div>
    </div> <!-- .et_pb_text -->
    </div> <!-- .et_pb_column -->
    </div> 
    </div>
    </div>
  </div>
  <div class="container-fuid">
    <div class="row">
      <div class="col-sm-3">
        <h1>MORE INFORMATION?</h1>
      </div>
      <div class="col-sm-3"><img src="../../assets/images/location-icon-location-icon-png-blue.jpeg" style="width:70px;height:70px;">
       <h4 class="g1">MR.ELECTRICAL LTD</h4>
       <p class="p1"><span> P.O.Box 10233, Dar-es-salaam</span></p>
       <p class="j1"><span> Plot 1178, Kangaroo street</span></p>
       <p class="j2"><span> Mikocheni B.</span></p>
       <br>
       <br>
       <br>
       <div><i class="material-icons" style="font-size:48px;color:rgb(20, 233, 20)">call</i></div>
       <h4 class="t1">TELEPHONE</h4>
       <p class="j3"><span>+255 715 030 392</span></p>
       <p class="j4"><span>+255 655 088 466</span></p>
       <p class="j5"><span>+255 746 245 571</span></p>
      </div>
      <div class="col-sm-3">
        <div class="g2"><i class="material-icons" style="font-size:48px;color:#3e0184; ">error</i></div>
        <h4 class="t2">SERVICE INFORMATION</h4>
        <div class="t3">
          <p><strong>Electrical contractor</strong><br><strong>Fire&Preventatin System contractor</strong><br><strong>Air Conditioning contractor</strong><br><strong>Plumbing & Sanitations</strong><br><strong>ICT & Security systems</strong><br><strong>Renewable Energy Installation(solar)</strong><br><strong>Elevetor & Escalators Contractor</strong><br> Electrical Repairs<br><strong>Telecommunication Contractor</strong><br><strong>Network Cabling</strong></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="logo"><img src="../../assets/images/logo.jpg" alt="" style="width: 300px;height: 270px;opacity: 10%;"></div>
      </div>
    </div>
  </div><br>
  <div class="footer"><h4>2023.All rights reserved </h4></div>
  </body>
</html>